/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--normal-font-weight);
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
} 
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: clamp(6.25rem, 6.206rem + 0.1878vw, 6.375rem);
  margin-block-end: clamp(6.25rem, 6.206rem + 0.1878vw, 6.375rem);
  outline: 2px solid var(--accent-color);
  background-color: var(--background-color);
}
.section-center {
  max-inline-size: 696px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  font-family: "PressStart2P", fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  line-height: normal;
  margin-block-start: clamp(7.5rem, 6.1479rem + 1.5023vw, 8.5rem);
}
.header__title {
  margin-block-start: 20px;
  margin-block-end: clamp(7.5rem, 6.1479rem + 1.5023vw, 8.5rem);
  font-family: var(--accent-font-family), fantasy;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  margin-block-end: 50px;
  color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}
.card__title {
  font-variation-settings: "wght" var(--bold-font-weight);
  padding: 3px 10px;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.container__image {
  display: grid;
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
}
.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
}
.card__label {
  color: var(--accent-color);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  right: 25px;
  top: 25px;
  text-shadow: 0 0 2px var(--background-color);
  opacity: 50%;
  mix-blend-mode: hard-light;
}
@supports (
  (-webkit-text-stroke: 1px var(--background-color)) or
    (text-stroke: 1px var(--background-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}
.filter-saturate {
  filter: saturate(200%);
}
.filter-hue-rotate {
  filter: hue-rotate(180deg);
}
.filter-invert {
  filter: invert(70%);
}
.filter-sepia {
  filter: sepia(90%);
}
.filter-grayscale {
  filter: grayscale(100%);
}
.filter-brightness {
  filter: brightness(200%);
}
.filter-contrast-shadow {
  filter: contrast(150%) drop-shadow(10px 20px 15px var(--accent-color));
}
.card__text {
  font-size: 18px;
  font-style: normal;
  line-height: 116.667%;
  padding: 25px;
  gap: 27px;
  display: flex;
  flex-direction: column;
}
.card__buttons {
  align-self: flex-end;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.card__icon-button {
  border: none;
  background-color: var(--background-color);
  height: 36px;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 0;
  vertical-align: bottom;
}
.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}
.sparks {
  opacity: 0;
}
.button {
  position: relative;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  outline: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  transform-origin: left center;
  transform: scaleX(0);
}
/* .button:hover {
  color: var(--background-color);
  transition: color 1s ease;
} */
.button:hover::after {
  transform: scaleX(1);
}
.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  border: 2px solid var(--accent-color);
}
.card__like-button {
  text-align: center;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  overflow: hidden;
  align-self: flex-end;
}
.button__text {
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}
.end {
  background-color: transparent;
  padding-block-end: 100px;
  display: flex;
  justify-content: center;
}
.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 17px 20px;
  min-width: 306px;
  min-height: 51px;
  max-height: 80px;
  color: var(--button-text-color);
}
.save-icon {
  display: inline-block;
  flex-shrink: 0; 
}
.end .save-icon {
  position: relative;
  min-width: 21px;
  min-height: 21px;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}
#dialog__id {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: var(--background-color);
  /*border: 2px solid var(--accent-color);*/
  padding: 30px;
}
#dialog__id .save-icon {
  grid-area: icon;
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  color: var(--accent-color);
  mix-blend-mode: normal;
}
#dialog__id .button {
  grid-area: button;
  padding: 9px 17px;
  text-transform: uppercase;
}
#dialog__id::backdrop {
  opacity: 0.75;
  background: var(--accent-color);
}
.dialog {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon text"
    "button button";
  gap: 30px 0px;
}
#dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}
.dialog__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.dialog__text {
  color: var(--accent-color);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  grid-area: text;
  max-width: 234px;
}
