/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root .theme-dark {
  --background-color: #000000;
  --accent-color: #00cc14;
  --heart-contour: #00cc14;
  --heart-sparks: #ff0000;
  --normal-font-weight: 465;
  --bold-font-weight: 785;
  --background-image: url(../svg/pattern-dark.svg);
}
:root .theme-light {
  --background-color: #ffffff;
  --accent-color: #000000;
  --heart-contour: #000000;
  --heart-sparks: #ff0000;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --background-image: url(../svg/pattern-light.svg);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --accent-color: #00cc14;
    --heart-contour: #00cc14;
    --heart-sparks: #ff0000;
    --normal-font-weight: 465;
    --bold-font-weight: 785;
    --background-image: url(../svg/pattern-dark.svg);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --accent-color: #000000;
    --heart-contour: #000000;
    --heart-sparks: #ff0000;
    --normal-font-weight: 400;
    --bold-font-weight: 700;
    --background-image: url(../svg/pattern-light.svg);
  }
}
